.BigSquare
{
position: relative;    
}

.SmallSquare
{
display: inline;
float: left;

}

.cell
{
display: inline;
float: left;
border-top: 1px black solid;
border-right: 1px Black solid;
border-bottom: 1px Black solid;
border-left: 1px Black solid;


}

.row
{
padding: 0;
border: 0;
margin: 0;    
}