#
# Apaxy by @adamwhitcroft
#
# For a full breakdown of the mod_autoindex module:
# http://apache.org/docs/2.2/mod/mod_autoindex.html
#

        # ENABLE INDEXING
        Options +Indexes

        # INDEX OPTIONS
        IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=* +IconsAreLinks

            # META VIEWPORT
            IndexHeadInsert "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />"

        # HIDE /theme DIRECTORY
        IndexIgnore .htaccess /theme

#
# GENERAL ICONS (BLANK, DIRECTORY, PARENT DIRECTORY)
#

        AddIcon /cgi/sudoku/apaxy/theme//icons/blank.png ^^BLANKICON^^
        AddIcon /cgi/sudoku/apaxy/theme//icons/folder.png ^^DIRECTORY^^
        AddIcon /cgi/sudoku/apaxy/theme//icons/folder-home.png ..

        AddIconByType (TXT,/cgi/sudoku/apaxy/theme//icons/text.png) text/*
        AddIconByType (IMG,/cgi/sudoku/apaxy/theme//icons/image.png) image/*
        AddIconByType (SND,/cgi/sudoku/apaxy/theme//icons/audio.png) audio/*
        AddIconByType (VID,/cgi/sudoku/apaxy/theme//icons/video.png) video/*

#
# EXTENSION SPECIFIC ICONS
#

        AddIcon /cgi/sudoku/apaxy/theme//icons/archive.png .7z .bz2 .cab .gz .tar
        AddIcon /cgi/sudoku/apaxy/theme//icons/audio.png .aac .aif .aifc .aiff .ape .au .flac .iff .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg .xm .it .s3m .mod
        AddIcon /cgi/sudoku/apaxy/theme//icons/bin.png .bin .hex
        AddIcon /cgi/sudoku/apaxy/theme//icons/bmp.png .bmp
        AddIcon /cgi/sudoku/apaxy/theme//icons/c.png .c
        AddIcon /cgi/sudoku/apaxy/theme//icons/calc.png .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
        AddIcon /cgi/sudoku/apaxy/theme//icons/cd.png .iso
        AddIcon /cgi/sudoku/apaxy/theme//icons/cpp.png .cpp
        AddIcon /cgi/sudoku/apaxy/theme//icons/css.png .css .sass .scss
        AddIcon /cgi/sudoku/apaxy/theme//icons/deb.png .deb
        AddIcon /cgi/sudoku/apaxy/theme//icons/doc.png .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
        AddIcon /cgi/sudoku/apaxy/theme//icons/draw.png .svg .svgz
        AddIcon /cgi/sudoku/apaxy/theme//icons/eps.png .ai .eps
        AddIcon /cgi/sudoku/apaxy/theme//icons/exe.png .exe
        AddIcon /cgi/sudoku/apaxy/theme//icons/gif.png .gif
        AddIcon /cgi/sudoku/apaxy/theme//icons/h.png .h
        AddIcon /cgi/sudoku/apaxy/theme//icons/html.png .html .xhtml .shtml .htm .URL .url
        AddIcon /cgi/sudoku/apaxy/theme//icons/ico.png .ico
        AddIcon /cgi/sudoku/apaxy/theme//icons/java.png .jar
        AddIcon /cgi/sudoku/apaxy/theme//icons/jpg.png .jpg .jpeg .jpe
        AddIcon /cgi/sudoku/apaxy/theme//icons/js.png .js .json
        AddIcon /cgi/sudoku/apaxy/theme//icons/markdown.png .md
        AddIcon /cgi/sudoku/apaxy/theme//icons/package.png .pkg .dmg
        AddIcon /cgi/sudoku/apaxy/theme//icons/pdf.png .pdf
        AddIcon /cgi/sudoku/apaxy/theme//icons/php.png .php .phtml
        AddIcon /cgi/sudoku/apaxy/theme//icons/playlist.png .m3u .m3u8 .pls .pls8
        AddIcon /cgi/sudoku/apaxy/theme//icons/png.png .png
        AddIcon /cgi/sudoku/apaxy/theme//icons/ps.png .ps
        AddIcon /cgi/sudoku/apaxy/theme//icons/psd.png .psd
        AddIcon /cgi/sudoku/apaxy/theme//icons/py.png .py
        AddIcon /cgi/sudoku/apaxy/theme//icons/rar.png .rar
        AddIcon /cgi/sudoku/apaxy/theme//icons/rb.png .rb
        AddIcon /cgi/sudoku/apaxy/theme//icons/rpm.png .rpm
        AddIcon /cgi/sudoku/apaxy/theme//icons/rss.png .rss
        AddIcon /cgi/sudoku/apaxy/theme//icons/script.png .bat .cmd .sh
        AddIcon /cgi/sudoku/apaxy/theme//icons/sql.png .sql
        AddIcon /cgi/sudoku/apaxy/theme//icons/tiff.png .tiff .tif
        AddIcon /cgi/sudoku/apaxy/theme//icons/text.png .txt .nfo
        AddIcon /cgi/sudoku/apaxy/theme//icons/video.png .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv
        AddIcon /cgi/sudoku/apaxy/theme//icons/xml.png .xml
        AddIcon /cgi/sudoku/apaxy/theme//icons/zip.png .zip
        DefaultIcon /cgi/sudoku/apaxy/theme//icons/default.png

#
# THEME FILES
#

        HeaderName /cgi/sudoku/apaxy/header.html
        ReadmeName /cgi/sudoku/apaxy/footer.html
        IndexStyleSheet /cgi/sudoku/apaxy/theme//style.css
